<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.category_name}}" placeholder="Name"
            name="food_name">
        <label for="floatingInput">Name</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.category_desc}}"
            placeholder="Storage conditions" name="food_storage_conditions">
        <label for="floatingInput">Description</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.category_image_link}}"
            placeholder="Manufacturer" name="food_manufacturer">
        <label for="floatingInput">Image link</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.category_alt}}" placeholder="Price"
            name="food_price">
        <label for="floatingInput">Alternative text</label>
    </div>
</div>
<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit"><i class="bi bi-check2"></i> Submit</button>
</div>