<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Log in (Employee)</li>
  </ol>
</nav>

<h2 class="d-flex justify-content-center">Loging in (as Employee)</h2>


{{#if warning}} <!-- EJS -->
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{warning}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{#if errs}} <!-- HBS -->
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{errs}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<form action="/loginemployee" method="POST">

<div class="form-group">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="" placeholder="Username" name="user_username">
            <label for="floatingInput">Username</label>
        </div>
</div>

<div class="form-group pt-1 pb-1">
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" value="" placeholder="Username" name="user_password">
            <label for="floatingInput">Password</label>
        </div>
</div>

  
  <div class="pt-3">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  
</form>
