<h2 class="d-flex justify-content-center">Sorry, nothing was found :(</h2>

<div class="d-flex justify-content-center pt-3">
    <a onclick="window.history.go(-1); return false;" type="button" class="btn btn-dark btn-lg"><i class="bi bi-box-arrow-left"></i> Return</a>
</div>
    