<h1 class="d-flex justify-content-center mb-3">Shopping cart</h1>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
    <li class="breadcrumb-item active" aria-current="page">Shopping cart</li>
  </ol>
</nav>

<table class="table table-bordered table-striped">

  <thead class="thead-dark">
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Manufacturer</th>
      <th scope="col">Price ($)</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
  </thead>


  <tbody>

    {{#each rows}}
    <tr>
      <td>{{this.food_name}}</td>
      <td>{{this.food_manufacturer}}</td>
      <td>{{this.food_price}}</td>
      <td class="text-center">
        <a href="shopping_cart_delete/{{this.id}}" type="button" class="btn btn-danger btn-small"><i
            class="bi bi-trash"></i> Delete</a>
      </td>

      {{/each}}

  </tbody>
</table>

<div class="row pb-2">
  <div class="col-6"></div>
  <div class="col-6 d-flex justify-content-end">
    <a href="/buy" type="button" class="btn btn-success btn-small aligh-self-center"><i class="bi bi-cart-check"></i>
      Purchase</a>
  </div>
</div>