<h1 class="d-flex justify-content-center mb-3">Start getting your groceries!</h1>

<form class="d-flex justify-content-center ">
<div class="card mx-5 mt-5" style="width: 18rem;">
  <img class="card-img-top " src="bread.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Bakery products</h5>
    <p class="card-text">Get to know what luxury bread tastes like.</p>
    <a href="/bakery" class="btn btn-primary">Go to</a>
  </div>
</div>

<div class="card mx-5 mt-5" style="width: 18rem;">
  <img class="card-img-top" src="cheese.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Cheese</h5>
    <p class="card-text">Most exquisite cheese you'll ever try.</p>
    <a href="/cheese" class="btn btn-primary">Go to</a>
  </div>
</div>

<div class="card mx-5 mt-5" style="width: 18rem;">
  <img class="card-img-top" src="steak.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Meat products</h5>
    <p class="card-text">Get the most fresh meat to unleash your cooking potential.</p>
    <a href="/meat" class="btn btn-primary">Go to</a>
  </div>
</div>
</form>

<form class="d-flex justify-content-center ">
<div class="card mx-5 mt-5" style="width: 18rem;">
  <img class="card-img-top " src="fish.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Fish products</h5>
    <p class="card-text">Catch the food right out of the ocean.</p>
    <a href="/fish" class="btn btn-primary">Go to</a>
  </div>
</div>

<div class="card mx-5 mt-5" style="width: 18rem;">
  <img class="card-img-top" src="veg.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Fruits and vegetables</h5>
    <p class="card-text">Let your meal get a fresh breath of nature.</p>
    <a href="/vegetables_fruits" class="btn btn-primary">Go to</a>
  </div>
</div>

<div class="card mx-5 mt-5" style="width: 18rem;">
  <img class="card-img-top" src="coffee.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Coffee and Tea</h5>
    <p class="card-text">There is no better way to calm your mind.</p>
    <a href="/coffee_tea" class="btn btn-primary">Go to</a>
  </div>
</div>
</form>




