<h1 class="d-flex justify-content-center">Welcome!</h1>
<h2 class="d-flex justify-content-center ">In order to shop you need to log in.</h2>
<h2 class="d-flex justify-content-center ">If you don't have an account register!</h2>
<div class="d-flex justify-content-center gap-3 col-6 mx-auto pt-3">
    <a href="/login" type="button" class="d-flex justify-content-center w-50 btn btn-outline-primary btn-lg">Log In</a>
    <a href="/register" type="button"
        class="d-flex justify-content-center w-50 btn btn-outline-primary btn-lg">Register</a>
</div>
<div class="d-grid gap-3 col-6 mx-auto pt-5">
    <a href="/loginemployee" type="button" class="btn btn-outline-dark btn-lg"><i class="bi bi-key"></i> Log In as
        employee</a>
</div>