<h1 class="d-flex justify-content-center">Welcome</h1>
<h2 class="d-flex justify-content-center ">In order to shop you need to --> <a href="/login"> Log in</a></h2>
<h2 class="d-flex justify-content-center ">If you don't have an account --> <a href="/register"> Register</a></h2>
<div class="d-flex justify-content-center pt-5">
    <h4>Log in as --> <a href="/loginemployee"> Employee</a></h4>
</div>




