<div class="form-group">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="" placeholder="Username" name="user_username">
      <label for="floatingInput">Username</label>
    </div>
  </div>

  <div class="form-group pt-1 pb-1">
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="user_password" value="" placeholder="Username"
        name="user_password">
      <label for="floatingInput">Password</label>
    </div>
  </div>


  <div class="pt-3">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>