<h2 class="d-flex justify-content-center">Comeback soon! Until the next time!</h2>

<div class="d-flex justify-content-center pt-3">
    <a href="/" type="button" class="btn btn-primary btn-small"><i class="bi bi-caret-left-fill"></i> Home Page</a>
</div>