<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><a href="/register">Registration</a></li>
    <li class="breadcrumb-item active">Log in</li>
  </ol>
</nav>

<h2 class="d-flex justify-content-center mb-3">Loging in</h2>

{{#if warning}}
<!-- EJS -->
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{warning}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{#if errs}}
<!-- HBS -->
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{errs}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<form action="/login" method="POST">

{{> login_form}}

</form>