<h2 class="d-flex justify-content-center">Sorry, this food items is out of stock!</h2>
<h2 class="d-flex justify-content-center">Come back later!</h2>

<div class="d-flex justify-content-center pt-3">
    <a href="/shop" type="button" class="btn btn-dark btn-lg"><i
            class="bi bi-box-arrow-left"></i> Go to the shop</a>
</div>