<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
    <li class="breadcrumb-item active" aria-current="page">Bakery products</li>
  </ol>
</nav>

<h1 class="d-flex justify-content-center mb-3">Bakery products</h1>

{{#if addedProduct}} <!-- EJS -->
<div class="alert alert-success alert-dismissible fade show" role="alert">
  Food item successfully added to your shopping cart.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{> shop_list}}




